html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem;
}

header {
    position: relative;
    overflow: hidden;
}

header:before {
    content: "";
    background-image: url("../images/juan-lee-album-art.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.track {
    position: relative;
    padding: 1%;
}

#album-art {
    display: block;
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-bottom: none;
    margin: auto;
    width: 450px;
    height: 450px;
}

audio {
    border: 20px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-radius: 0;
    display: block;
    margin: auto;
    width: 450px;
}

main {
    text-align: center;
}

main h1 {
    color: #111;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0;
}

main p {
    color: #444;
    font-style: italic;
    margin: 5px; 
}

.social-links img {
    margin-top: 50px;
    border: none;
    width: 32px;
    height: 32px;
    opacity: 0.75;
    transition: opacity 0.3s linear;
}

.social-links img:hover {
    cursor: pointer;
    opacity: 1;
}

.social-links a {
    text-decoration: none;
    margin: 20px;
}

button {
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 10px 30px;
    margin: 50px;
    transition: background 0.3s linear, color 0.3s linear;
}

button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

#share-screen img {
    margin-top: 25px;
    padding: 0;
}

@media screen and (max-width: 1200px) {
    #album-art {
        width: 300px;
        height: 300px;
        border-width: 5px;
    }

    audio {
        border-width: 5px;
        width: 300px; 
    }
}
